$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: red;
$color-green: darkgreen;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #EFCDD0;
$color-purple: beige;
$color-orange: red;
$color-camel:saddlebrown;